@import url(reset.css);
.font-normal, body {
  font-size: 11px;
  font-family: 'font-regular', arial; }

.font-bigger {
  font-size: 15px; }

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

.ie7 header, .ie8 header, .opera header {
  width: 1000px !important;
  height: 533px !important;
  min-height: 533px !important;
  margin: auto !important;
  background: url(../img/bg-ie.jpg) no-repeat !important;
  background-size: 100% !important; }
.ie7 footer, .ie7 .sound, .ie7 footer .container, .ie7 footer .container a, .ie8 footer, .ie8 .sound, .ie8 footer .container, .ie8 footer .container a, .opera footer, .opera .sound, .opera footer .container, .opera footer .container a {
  height: 90px !important; }
.ie7 .sound, .ie8 .sound, .opera .sound {
  width: 90px !important; }
.ie7 .sound.play, .ie8 .sound.play, .opera .sound.play {
  height: 60px !important;
  width: 60px !important;
  background: none !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/sound-on.png',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/sound-on.png',sizingMethod='scale')" !important; }
.ie7 .scene, .ie8 .scene, .opera .scene {
  overflow: hidden;
  display: none !important; }
.ie7 .loading, .ie8 .loading, .opera .loading {
  height: 533px !important;
  background: url(../img/preload-ie.jpg) top center no-repeat !important #322846;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/preload-ie.jpg',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/preload-ie.jpg',sizingMethod='scale')" !important;
  width: 1000px !important; }
.ie7 .container, .ie8 .container, .opera .container {
  width: 1000px !important; }
.ie7 h1, .ie8 h1, .opera h1 {
  font-size: 30px !important;
  width: 95% !important; }
.ie7 h2, .ie8 h2, .opera h2 {
  font-size: 22px !important;
  margin-top: 20px !important;
  width: 93% !important; }
.ie7 footer, .ie8 footer, .opera footer {
  position: relative !important; }
  .ie7 footer .container, .ie8 footer .container, .opera footer .container {
    height: 60px !important;
    min-height: 60px !important;
    background: #000;
    width: 1000px !important;
    display: block !important; }
.ie7 .sound, .ie8 .sound, .opera .sound {
  margin-left: 10% !important; }
.ie7 .footprint1, .ie8 .footprint1, .opera .footprint1 {
  position: absolute;
  display: block;
  height: 60px !important;
  width: 40px !important;
  bottom: 2px !important;
  right: 325px !important;
  background-size: 100%;
  opacity: 1; }
.ie7 .footprint2, .ie8 .footprint2, .opera .footprint2 {
  position: absolute;
  display: block;
  height: 80px !important;
  width: 220px !important;
  left: 390px !important;
  bottom: 10px !important;
  background-size: 100%;
  opacity: 1; }
.ie7 .steps, .ie8 .steps, .opera .steps {
  position: absolute;
  display: block;
  height: 200px !important;
  width: 370px !important;
  bottom: 110px !important;
  left: 50px !important;
  background-size: 100%;
  opacity: 1; }
.ie7 .step1, .ie8 .step1, .opera .step1 {
  height: 30px !important;
  width: 70px !important;
  bottom: 10px !important;
  right: 98px !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step1.png',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step1.png',sizingMethod='scale')" !important; }
.ie7 .step2, .ie8 .step2, .opera .step2 {
  height: 40px !important;
  width: 50px !important;
  bottom: 0px !important;
  right: 175px !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step2.png',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step2.png',sizingMethod='scale')" !important; }
.ie7 .step3, .ie8 .step3, .opera .step3 {
  height: 40px !important;
  width: 80px !important;
  bottom: 5px !important;
  left: 100px !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step3.png',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step3.png',sizingMethod='scale')" !important; }
.ie7 .step4, .ie8 .step4, .opera .step4 {
  height: 40px !important;
  width: 47px !important;
  top: 100px !important;
  left: 68px !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step4.png',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step4.png',sizingMethod='scale')" !important; }
.ie7 .step5, .ie8 .step5, .opera .step5 {
  height: 70px !important;
  width: 40px !important;
  top: 57px !important;
  left: 94px !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step5.png',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step5.png',sizingMethod='scale')" !important; }
.ie7 .step6, .ie8 .step6, .opera .step6 {
  height: 30px !important;
  width: 50px !important;
  top: 62px !important;
  left: 130px !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step6.png',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step6.png',sizingMethod='scale')" !important; }
.ie7 .step7, .ie8 .step7, .opera .step7 {
  height: 30px !important;
  width: 50px !important;
  top: 70px !important;
  left: 170px !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step7.png',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/steps/step7.png',sizingMethod='scale')" !important; }
.ie7 .scarf, .ie8 .scarf, .opera .scarf {
  height: 100px !important;
  width: 100px !important;
  top: 252px !important;
  left: 265px !important;
  background: none !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/scarf.png',sizingMethod='scale') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/scarf.png',sizingMethod='scale')" !important; }

header {
  background: url(../img/bg.jpg) no-repeat top center #221c38;
  background-size: 100%;
  width: 100%;
  height: 52.3vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }
  header .container {
    max-width: 990px;
    width: 100%;
    position: relative;
    margin: auto;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 4%; }

.loading {
  background: url(../img/preload.jpg);
  position: absolute;
  background-size: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2000px;
  z-index: 5; }

.loadingspin {
  display: block;
  width: 72px;
  height: 60px;
  margin: auto;
  margin-top: 22%;
  overflow: hidden;
  text-align: center;
  padding-top: 80px;
  color: #fff;
  position: relative;
  opacity: 0.9; }

.loadingspin span {
  font-size: 80px;
  color: #fff;
  width: 73px;
  height: 70px;
  overflow: hidden;
  display: block;
  padding-left: 2px;
  margin: auto;
  position: absolute;
  top: 0; }

h1, h2 {
  margin: auto;
  text-align: right;
  display: block;
  color: #fff;
  width: 95%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000; }

h2 {
  font-size: 2.3vw;
  transition: 0.3s;
  font-family: 'font-light', arial; }

h1 {
  font-size: 2.8vw;
  transition: 0.3s;
  padding-top: 0.9vw;
  font-family: 'font-regular', arial; }

.scarf {
  position: absolute;
  display: block;
  height: 13vw;
  width: 10vw;
  top: 25.3vw;
  left: 26.5vw;
  background: url(../img/scarf.png) no-repeat;
  background-size: 100%;
  opacity: 0; }

.footprint1 {
  position: absolute;
  display: block;
  height: 5vw;
  width: 3.5vw;
  bottom: 0vw;
  right: 32.7vw;
  background: url(../img/footprint1.png) no-repeat;
  background-size: 100%;
  opacity: 1; }

.footprint2 {
  position: absolute;
  display: block;
  height: 7vw;
  width: 23vw;
  bottom: 0.2vw;
  right: 38.2vw;
  background: url(../img/footprint2.png) no-repeat;
  background-size: 100%;
  opacity: 1; }

.footprint3 {
  position: absolute;
  display: block;
  height: 13vw;
  width: 30vw;
  bottom: 11vw;
  left: 9.1vw;
  background-size: 100%; }

.steps {
  position: absolute;
  display: block;
  height: 13vw;
  width: 30vw;
  bottom: 11vw;
  left: 9.1vw;
  background-size: 100%;
  opacity: 1; }
  .steps .stepposition {
    position: relative;
    overflow: hidden;
    display: block;
    height: 13vw;
    width: 30vw; }

.step1 {
  position: absolute;
  display: block;
  height: 3vw;
  width: 8.2vw;
  bottom: 2vw;
  right: 0;
  background: url(../img/steps/step1.png) no-repeat;
  background-size: 100%; }

.step2 {
  position: absolute;
  display: block;
  height: 3vw;
  width: 6.3vw;
  bottom: 1.8vw;
  right: 9.65vw;
  background: url(../img/steps/step2.png) no-repeat;
  background-size: 100%; }

.step3 {
  position: absolute;
  display: block;
  height: 4vw;
  width: 10.3vw;
  bottom: 0vw;
  left: 3.65vw;
  background: url(../img/steps/step3.png) no-repeat;
  background-size: 100%; }

.step4 {
  position: absolute;
  display: block;
  height: 4vw;
  width: 5.3vw;
  top: 5vw;
  left: 0vw;
  background: url(../img/steps/step4.png) no-repeat;
  background-size: 100%; }

.step5 {
  position: absolute;
  display: block;
  height: 6vw;
  width: 4.5vw;
  top: 0vw;
  left: 3.5vw;
  background: url(../img/steps/step5.png) no-repeat;
  background-size: 100%; }

.step6 {
  position: absolute;
  display: block;
  height: 3vw;
  width: 4.5vw;
  top: 0vw;
  left: 8.2vw;
  background: url(../img/steps/step6.png) no-repeat;
  background-size: 100%; }

.step7 {
  position: absolute;
  display: block;
  height: 3vw;
  width: 5vw;
  top: 1.85vw;
  left: 13.2vw;
  background: url(../img/steps/step7.png) no-repeat;
  background-size: 100%; }

@media only all and (min-width: 1000px) {
  .container {
    min-width: 80% !important; } }
@media only all and (min-width: 1270px) {
  .container {
    min-width: 1050px !important; } }
@media only all and (min-width: 1370px) {
  .container {
    min-width: 1300px !important; } }
@media only all and (min-width: 1570px) {
  .container {
    min-width: 1400px !important; } }
@media only all and (min-width: 1770px) {
  .container {
    min-width: 1600px !important; } }
@media only all and (min-width: 1870px) {
  .container {
    min-width: 1800px !important; } }
@media only all and (max-height: 900px) {
  header {
    margin-bottom: 100px !important; } }
@media only all and (min-height: 900px) {
  footer {
    position: relative !important; } }
@media only all and (min-width: 1500px) and (min-height: 900px) {
  footer {
    position: fixed !important; } }
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  max-height: 90px;
  background: #fff;
  z-index: 10; }
  footer .container {
    width: 100% !important;
    max-width: 800px;
    position: relative;
    margin: auto;
    clear: both; }
    footer .container a {
      background: url(../img/logo.jpg) no-repeat right top;
      background-size: 100% auto;
      max-height: 120px;
      width: 25vw;
      max-width: 180px;
      height: 10vw;
      display: block;
      float: right;
      margin-top: 10px; }

.sound a {
  position: absolute;
  height: 5vw;
  width: 5vw;
  max-height: 50px;
  max-width: 50px;
  display: block;
  margin-top: 1%;
  margin-left: 10%;
  background-size: 100%;
  margin-top: 15px; }
.sound .play {
  background: url(../img/sound-on.jpg) no-repeat;
  background-size: 100%;
  transition: 0.2s;
  cursor: pointer; }
.sound .play:hover {
  opacity: 0.7;
  transition: 0.4s; }
.sound .play.off {
  background: url(../img/sound-off.jpg) no-repeat;
  background-size: 100%;
  transition: 0.2s; }

.flake {
  background: url(../img/snow.png) top center no-repeat;
  background-size: 100%;
  display: block;
  z-index: 5; }

div#house {
  width: 100%;
  position: absolute;
  z-index: 3; }

div#house img {
  width: 105% !important;
  margin-left: -2.3vw; }

.scene {
  width: 100%;
  height: 52.3vw;
  margin: 0 auto;
  position: absolute; }
  .scene li img {
    height: 100%;
    width: auto; }
  .scene li#stars.layer img, .scene li#smoke.layer img, .scene li#house.layer img, .scene li#sky.layer img {
    height: auto;
    width: 100%; }
  .scene li#moon.layer img {
    width: auto;
    height: 100%; }
  .scene li#house.layer img, .scene li#sky.layer img {
    width: 105% !important;
    margin-left: -2.3vw; }

li#moon.layer {
  max-height: 12vw;
  width: auto;
  margin-top: 5vw;
  margin-left: 35vw; }

li#smoke.layer {
  margin-top: 8.5vw;
  margin-left: 1vw; }
