@import url(reset.css);

// BASE

// IMG
	$bg-url: url(../img/bg.jpg);
	$logo-url: url(../img/logo.jpg);

// CONTAINER

	$container-width: 990px;
	$container-height: 340px;


// FONTS

	$font-normal: 'arial', sans-serif;
	$content-font-size: 12px;

	$font-bold: 'arial' ;

	$font-headline: 'arial';

	.font-normal {
		font-size: 11px;
		font-family: 'font-regular';
	}

	.font-bigger {
		font-size: 15px
	}

// POSITIONS

	$number-bottom: 5px;


// COLORS

	$link-color: #333;
	$link-hover-color: #555;


// BROWSERS BASE

	@mixin transition($radius) {
  -webkit-transition: $radius;
     -moz-transition: $radius;
      -ms-transition: $radius;
       -o-transition: $radius;
          transition: $radius;
     }

     @mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
      -ms-border-radius: $border-radius;
       -o-border-radius: $border-radius;
          border-radius: $border-radius;
     }

	@mixin opacity($opacity) {
	opacity: $opacity;
     }

// SASS END


// LET'S GO!

// LAYOUT

	body {
		@extend .font-normal;
		-webkit-font-smoothing:antialiased;
		padding-bottom: 50px;
	}

	header {
		background: $bg-url no-repeat top center fixed;
		background-size: 100%;
		width: 100%;
		height: 52.7vw;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;


		.container {
		max-width: $container-width;
		width: 100%;
		position: relative;
		margin: auto;
		clear: both;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-top: 4%;

		}
	}

	

	h1, h2 {
		float: left;
		text-align: right;
		display: block;
		color: #fff;
		width: 95%;


	}
	h2 {
		font-size: 2.3vw;
		transition: 0.3s;
		font-family: 'font-light';
	}
	h1 {
		font-size: 2.8vw;
		transition: 0.3s;
		padding-top: 0.9vw;
		font-family: 'font-regular';
	}

	footer {
		width: 100%;
		position: relative;

		.container {
			width: 100% !important;
			max-width: 800px;
			position: relative;
			margin: auto;
			clear: both;
			a {
			background: $logo-url no-repeat right top;
			background-size: 100% auto;
			max-height: 120px;
			width: 25vw;
			max-width: 180px;
			height: 10vw;
			display:block;
			float: right; 
			margin-top: 10px;
			}
		}
	}

	